.header-container {
  background: #000;
  text-align: center;
}

.header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  max-width: 1200px;
  /* background: bisque; */
  margin: 0 auto;
  padding: 16px 20px;
}

.header-menu {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  font-size: 1.125rem;
}

.header-menu a {
  display: inline-block;
  padding: 20px 0;
  color: var(--cor-0);
  position: relative;
  font-family: "Poppins";
  font-weight: 400;
}

.header-menu a::after {
  content: "";
  display: block;
  width: 0%;
  height: 2px;
  background: #fff;
  margin-top: 4px;
  transition: 0.3s;
  position: absolute;
}

.header-menu a:hover::after {
  width: 100%;
}

@media (max-width: 800px) {
  .header {
    padding: 20px;
  }

  .header-menu a {
    padding: 12px 16px;
    border-radius: 4px;
    background: #111;
  }

  .header-menu a:hover {
    background: #2e2e2e;
  }

  .header-menu {
    gap: 20px;
  }

  .header-menu a::after {
    display: none;
  }
}

@media (max-width: 600px) {
  .header {
    gap: 20px;
  }

  .header-menu {
    gap: 12px;
    font-size: 0.875rem;
  }

  .header-menu a {
    padding: 8px 12px;
  }
}