.titulo-bg {
  background-color: var(--cor-11);
}

.titulo {
  padding-top: 60px;
  padding-bottom: 60px;
}

.titulo > p {
  margin-bottom: 4px;
}

.termos {
  padding-top: 80px;
  padding-bottom: 80px;
}

.termos h2 {
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 20px;
}

.termos h2:nth-child(n + 2) {
  margin-top: 40px;
  margin-bottom: 20px;
}

.termos p {
  font: 400 1rem/1.5 "Roboto", sans-serif;
  color: var(--cor-10);
  max-width: 75ch;
  margin-bottom: 24px;
}

@media (max-width: 800px) {
  .titulo {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .titulo > p {
    text-transform: none;
    font-weight: 400;
    font-size: 1rem;
  }
}